{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  
<div class="blog-header">
        <h1 class="blog-title">Entrar</h1>
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
          <p class="lead blog-description">Acesse sua conta pelas redes sociais abaixo. Ou, caso ainda nõ tenha uma conta <a href="{{ signup_url }}">crie sua conta aqui</a></p>
          
          <div class="socialaccount_ballot">
          
            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
          
            <p class="lead blog-description">ou</p>
          
          </div>
          
          {% include "socialaccount/snippets/login_extra.html" %}
          
        {% else %}
          <p class="lead blog-description"> Ou <a href="{{ signup_url }}">crie sua conta aqui</a>, caso ainda não tenha uma.</p>
        {% endif %}
</div>


<div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
          <div class="row">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-11">
                  <div class="panel panel-default">
                  <div class="panel-body">
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <input id="id_login" class="login-input" maxlength="30" name="login" placeholder="Email" type="text" />{{ form.login.errors }}<br>
                        <input id="id_password"  class="login-input" name="password" placeholder="Senha" type="password" />{{ form.password.errors }}<br>
                        <div class="remember-forgot-section">
                        <input id="id_remember" name="remember" type="checkbox" />
                        <label for="id_remember">Lembrar de mim</label>
                        <br>
                        <a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        </div>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-info btn-lg" type="submit">{% trans "Sign In" %}</button>
                    </form>
                  </div><!-- /.panel-body -->
                  </div><!-- /.panel-default -->
                </div><!-- /.col-xs -->
          </div><!-- /.row -->
          </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->






{% endblock %}
