{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="blog-header">
<h1 class="blog-title">Redefinir Senha</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p class="lead blog-description">Esqueceu a sua senha? Insira o seu endereço de e-mail abaixo, e lhe enviaremos um e-mail permitindo que a redefina.</p>
</div>

<div class="row">

      <div class="col-sm-8 blog-main">

          <div class="blog-post">
          <div class="row">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-11">
                  <div class="panel panel-default">
                  <div class="panel-body">


                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-info btn-lg" type="submit" value="{% trans 'Reset My Password' %}" />
                    </form>
                    <br>
                    <p>Se tiver qualquer problema para redefinir a sua senha, <a href='#'>entre em contato</a>.</p>

                  </div><!-- /.panel-body -->
                  </div><!-- /.panel-default -->
                </div><!-- /.col-xs -->
          </div><!-- /.row -->
          </div><!-- /.blog-post -->
      </div><!-- /.blog-main -->


{% endblock %}



