{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Definir Senha{% endblock %}

{% block header %}

<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <h1 class="blog-title">Criar Senha</h1>
        <div class="well">

            <form class="form-horizontal" method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="id_password1">Senha:</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="id_password1" name="password1" placeholder="Senha" type="password">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="id_password2">Senha (novamente):</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="id_password2" name="password2" placeholder="Senha (novamente)" type="password">
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input class="btn btn-warning" type="submit" name="action" value="Definir Senha"/>
                    </div>
                </div>
            </form>

        </div><!-- well -->          
    </div><!-- col-5 -->          
</div><!-- row -->

{% endblock %}




<form class="form-horizontal" method="POST" action="/conta/senha/definir/">
                <input type="hidden" name="csrfmiddlewaretoken" value="U8SirJgwPBwpoOUqwn95ccSQWQDZw9x1">
                
                <label for="id_password1">Senha:</label><input id="id_password1" name="password1" placeholder="Senha" type="password">
<label for="id_password2">Senha (novamente):</label><input id="id_password2" name="password2" placeholder="Senha (novamente)" type="password">
                
                <input class="btn btn-warning" type="submit" name="action" value="Definir Senha">
            </form>