{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Comentar Resposta{% endblock %}

{% block content %}
        <div class="row">
                <div class="col-sm-12">
                
                
                        <h1 class="blog-title">{% if edit %}Editar Comentário{% else %}Novo Comentário{% endif %}</h1>
                        <hr>
                        <p class="info-text">Resposta para a pergunta:</p>
                        <p class="blog-post-title"><a href="{% url "pergunta" answer.pergunta.slug %}">{{ answer.pergunta.titulo|title }}</a></p>
                        <p class="text">{{ answer.resposta|striptags }}</p>
                        <hr>
                                
                        {% crispy form form.helper %}
                
                </div>
        </div>
{% endblock %}

{% block sidebar %}
    
    <div class="sidebar-module sidebar-module-inset">
     <hr>
        <h4 class="sm-title">PERGUNTAS RELACIONADAS:</h4>
        {% for perg in related %}
        <p><a href={% url 'pergunta' perg.slug  %}>{{ perg.titulo }}</a></p>
        {% endfor %}
    <hr>
    </div>
{% endblock %}