{% extends 'base.html' %}
{% load app_filters %}

{% block responder_active %}active-nav{% endblock %}


{% block title %}Responder Perguntas{% endblock %}


{% block content %}

<p class="lead blog-description">Perguntas que talvez você possa responder:</p>
<hr>
{% for pergunta in sugestions %}
    
    <div class="blog-post">
        <p class="info-text">{% for tag in pergunta.tags.all %}<a href="{% url 'categoria' tag.slug %}"><span class="label label-tag">{{ tag.nome|title }}</span></a> {% endfor %}<span class="bullet"> • </span>{{ pergunta.data|post_date }}</p>
        <h2 class="blog-post-title"><a href="{% url 'pergunta' pergunta.slug %}">{{ pergunta.titulo }}</a></h2>        
        {% if pergunta.descricao %}<p class='text'>{{ pergunta.descricao|striptags|truncatewords:30 }} <a href="{% url 'pergunta' pergunta.slug %}">mais ...</a></p>{% endif %}
        <p class="info-text">
        <a href="{% url 'responder' pergunta.id %}" class="btn btn-default">Responder</a>
        <span class="bullet"> • </span>
        {{ pergunta.follow_questions.all|length }} seguindo
        <span class="bullet"> • </span>
        vista: {{ pergunta.views }} vezes
        </p>
            
    </div><!-- /.blog-post -->
    <hr>
{% endfor %}



<div class="pagination">
    <span class="step-links">
        {% if sugestions.has_previous %}
            <a href="?page={{ sugestions.previous_page_number }}"  class="btn btn-default"><i class="fa fa-arrow-left"></i> anterior</a>
        {% endif %}

        <span class="info-text">
            página {{ sugestions.number }} de {{ sugestions.paginator.num_pages }} 
        </span>

        {% if sugestions.has_next %}
            <a href="?page={{ sugestions.next_page_number }}" class="btn btn-default">próxima <i class="fa fa-arrow-right"></i></a>
        {% endif %}
    </span>
</div>

{% endblock %}


{% block sidebar %}
    
<div class="sidebar-module sidebar-module-inset">
    <hr>
    <h4 class="sm-title">VOCÊ CONHECE SOBRE:</h4>
    {% if current_topics %}
        <ul>
        {% for tg in current_topics %}
            <li class="sidebar-tags">
                <a href="{% url 'categoria' tg.slug %}"><span class="label label-tag">{{ tg.nome|title }}</span></a>
                
                <a class="follow_tag info-text {% if tg|followed:request.user %}unfollow active{% else %}follow{% endif %}" id="tag_{{ tg.pk }}" data-tagid="{{ tg.pk }}">
                    {% if tg|followed:request.user %}Seguindo{% else %}Seguir{% endif %}</a>
                     | <span class="tag_followers_count" id="tag_{{ tg.pk }}">{{ tg.followers_num }}</span>
                
                
            </li>
        {% endfor %}  
        </ul>
        <a href="{% url 'edit_user_known_topics' %}" class="btn btn-link"><i class="fa fa-pencil"></i> Alterar Temas</a>
    {% else %}
        <p class="info-text">Nenhum tema adicionado..</p>
    {% endif %}        
    <hr>
</div>
    

{% endblock %}