{% extends 'base.html' %}

{% load django_select2_tags %}

{% block head %}{% import_django_select2_js_css %}{% endblock%}

{% block content %}


<div class="blog-header">
        <h1 class="blog-title">Nova Pergunta</h1>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            
            <form class="perguntar" id="perguntar" method="post" action="/perguntar/" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-info btn-lg" type="submit">Enviar Pergunta »</button>
             </form>
            
                        
        </div><!-- /.blog-post -->

   </div><!-- /.blog-main -->

{% endblock %}


{% block script %}

{% endblock %}