{% extends 'base.html' %}

{% block content %}

<div class="blog-header">
        <h1 class="blog-title">{{ pergunta.titulo }}</h1>
        <p class="lead blog-description">em: {{ pergunta.data }} | por <a href='#'>{{ pergunta.autor }}</a> | vista: {{ pergunta.views }} vezes</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
          <div class="row">
                <div class="col-xs-1">
                        
                        <a class="{% if upvoted %}active upvote-on{% else %}upvote-off{% endif %}"
                           {% if user.is_authenticated %}id="upvote" title="Gostei: esta pergunta é relevante, clara e bem escrita."
                           {% else %}data-container="body" data-toggle="popover" data-placement="right" data-content="<b>Para poder votar:</b><br> <b><a href='{% url "account_login" %}'>Acesse sua conta</a></b><br> ou, se ainda não tem uma:<br> <b><a href='{% url "account_signup" %}'>Crie sua conta aqui</a></b>"
                           {% endif %}
                           data-pergid="{{ pergunta.id}}"  >gostei</a>
                        <p class="votes_count"><strong id="votes_count">{{ pergunta.votes }}</strong></p>
                        <a class="{% if downvoted %}active downvote-on{% else %}downvote-off{% endif %}"
                           {% if user.is_authenticated %}id="downvote" title="Não Gostei: pergunta não é relevante, confusa e mau escrita."
                           {% else %}data-container="body" data-toggle="popover" data-placement="right" data-content="<b>Para poder votar:</b><br> <b><a href='{% url "account_login" %}'>Acesse sua conta</a></b><br> ou, se ainda não tem uma:<br> <b><a href='{% url "account_signup" %}'>Crie sua conta aqui</a></b>"
                           {% endif %}
                           data-pergid="{{ pergunta.id}}" >não gostei</a>
                        
                </div>
                <div class="col-xs-11">
                        <p>{{ pergunta.descricao }}</p>
                        <p>Categorias: {% for tag in pergunta.tags.all %}<a href="{% url 'categoria' tag.slug %}">{{ tag }}, </a>{% endfor %}</p>
                  
                        
        
                
                </div>
          
          </div>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            {% if pergunta.num_respostas != 0 %}
            <h2 class="blog-post-title">{{ pergunta.num_respostas }} respostas:</h2>
          </div><!-- /.blog-post -->
            
          {% for resp in pergunta.respostas %}
          <div class="blog-post">
            <p>{{ resp.resposta }}</p>
            <p class="blog-post-meta">por: <a href="#">{{ resp.autor }}</a> em {{ resp.data }}</p>
          </div><!-- /.blog-post -->
        {% endfor %}
        <div class="blog-post">
        <a href="{% url 'responder' pergunta.id %}" class="btn btn-info btn-lg">Responder</a>
        </div><!-- /.blog-post -->
          {% else %}
          <h3>Nenhuma resposta...</h3>
          <a href="{% url 'responder' pergunta.id %}" class="btn btn-info btn-lg">Seja o primeiro a responder</a>
          </div><!-- /.blog-post -->
          {% endif %}
          
        </div><!-- /.blog-main -->

{% endblock %}