{% extends 'base.html' %}
{% load app_filters %}


{% block content %}

<div class="blog-header">
        <h1 class="blog-title">{{ pergunta.titulo }}</h1>
        <p class="lead blog-description">{{ pergunta.data|post_date }} | por <a href='{% url 'public_profile' pergunta.autor.id %}'>{{ pergunta.autor }}</a> | vista: {{ pergunta.views }} vezes</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
          <div class="row">
                <div class="col-xs-1">
                        
                        <a class="{% if pergunta|upvoted:request.user %}active upvote-on{% else %}upvote-off{% endif %}"
                           {% if user.is_authenticated %}id="perg_upvote" title="Gostei: esta pergunta é relevante, clara e bem escrita."
                           {% else %}data-container="body" data-toggle="popover" data-placement="right" data-content="<b>Para poder votar:</b><br> <b><a href='{% url "account_login" %}'>Acesse sua conta</a></b><br> ou, se ainda não tem uma:<br> <b><a href='{% url "account_signup" %}'>Crie sua conta aqui</a></b>"
                           {% endif %}
                           data-pergid="{{ pergunta.id}}"  >gostei</a>
                        <p class="votes_count"><strong id="votes_count">{{ pergunta.votes }}</strong></p>
                        <a class="{% if pergunta|downvoted:request.user %}active downvote-on{% else %}downvote-off{% endif %}"
                           {% if user.is_authenticated %}id="perg_downvote" title="Não Gostei: pergunta não é relevante, confusa e mau escrita."
                           {% else %}data-container="body" data-toggle="popover" data-placement="right" data-content="<b>Para poder votar:</b><br> <b><a href='{% url "account_login" %}'>Acesse sua conta</a></b><br> ou, se ainda não tem uma:<br> <b><a href='{% url "account_signup" %}'>Crie sua conta aqui</a></b>"
                           {% endif %}
                           data-pergid="{{ pergunta.id}}" >não gostei</a>
                        
                </div>
                <div class="col-xs-11">
                        <p>{{ pergunta.descricao }}</p>
                        <p>Categorias: {% for tag in pergunta.tags.all %}<a href="{% url 'categoria' tag.slug %}">{{ tag }}, </a>{% endfor %}</p>
                </div>
          
          </div>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            {% if pergunta.num_respostas != 0 %}
            <h2 class="blog-post-title">{{ pergunta.num_respostas }} respostas:</h2>
          </div><!-- /.blog-post -->
            
          {% for resp in pergunta.respostas %}
          <div class="blog-post">
            <div class="row">
              <div class="col-xs-1">
                
                         <a class="resp_{{ resp.id }} {% if resp|upvoted:request.user %}active upvote-on{% else %}upvote-off{% endif %}"
                           {% if user.is_authenticated %}id="resp_upvote" title="Gostei: esta resposta é relevante, clara e bem escrita."
                           {% else %}data-container="body" data-toggle="popover" data-placement="right" data-content="<b>Para poder votar:</b><br> <b><a href='{% url "account_login" %}'>Acesse sua conta</a></b><br> ou, se ainda não tem uma:<br> <b><a href='{% url "account_signup" %}'>Crie sua conta aqui</a></b>"
                           {% endif %}
                           data-respid="{{ resp.id}}"  >gostei</a>
                        <p class="resp_{{ resp.id }} votes_count"><b id="resp_votes_count">{{ resp.votes }}</b></p>
                        <a class="resp_{{ resp.id }} {% if resp|downvoted:request.user %}active downvote-on{% else %}downvote-off{% endif %}"
                           {% if user.is_authenticated %}id="resp_downvote" title="Não Gostei: resposta não é relevante, confusa e mau escrita."
                           {% else %}data-container="body" data-toggle="popover" data-placement="right" data-content="<b>Para poder votar:</b><br> <b><a href='{% url "account_login" %}'>Acesse sua conta</a></b><br> ou, se ainda não tem uma:<br> <b><a href='{% url "account_signup" %}'>Crie sua conta aqui</a></b>"
                           {% endif %}
                           data-respid="{{ resp.id}}" >não gostei</a>
                
              </div>
              <div class="col-xs-11">
                <p>{{ resp|upvoted:request.user }}</p>
                <p>{{ resp|downvoted:request.user }}</p>
                <p>{{ resp.resposta }}</p>
                <p class="blog-post-meta">por: <a href="{% url 'public_profile' resp.autor.id %}">{{ resp.autor }}</a> {{ resp.data|post_date }}</p>
              </div><!-- /.col-11 -->
            </div><!-- /.row -->
          </div><!-- /.blog-post -->
        {% endfor %}
        <div class="blog-post">
        <a href="{% url 'responder' pergunta.id %}" class="btn btn-info btn-lg">Responder</a>
        </div><!-- /.blog-post -->
          {% else %}
          <h3>Nenhuma resposta...</h3>
          <a href="{% url 'responder' pergunta.id %}" class="btn btn-info btn-lg">Seja o primeiro a responder</a>
          </div><!-- /.blog-post -->
          {% endif %}
          
        </div><!-- /.blog-main -->

{% endblock %}