{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load django_select2_tags %}

{% block head %}{% import_django_select2_js_css %}{% endblock%}

{% block content %}


<div class="blog-header">
        <h1 class="blog-title">Nova Pergunta</h1>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            
            {% crispy form form.helper %}
            
                        
        </div><!-- /.blog-post -->

   </div><!-- /.blog-main -->

{% endblock %}


{% block script %}

{% endblock %}