{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load app_filters %}


{% block add_script %}
<link href="{% static 'css/custom_qanda.css' %}" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}




{% block content %}
        <div class="row">
                <div class="col-sm-12">
                
                
                        <h1 class="blog-title">Escrever Resposta</h1>
                        <hr>
                        
                        <p class="info-text">{% for tag in pergunta.tags.all %}<a href="{% url 'categoria' tag.slug %}"><span class="label label-tag">{{ tag|title }}</span></a> {% endfor %}<span class="bullet"> • </span>{{ pergunta.timestamp|time_ago }}</p>
                        <p class="blog-post-title"><a href="{% url "pergunta" pergunta.slug %}">{{ pergunta.titulo|title }}</a></p>
                        <p class="text">{{pergunta.descricao|safe}}</p>
                        
                        <hr>
                        <p class="lead blog-description">Responda aqui:</p>
                        {% crispy form form.helper %}
                
                </div>
        </div>
{% endblock %}




{% block sidebar %}
    
    
    <div class="sidebar-module sidebar-module-inset">
     <hr>
        <h4 class="sm-title">PERGUNTAS RELACIONADAS:</h4>
        {% for perg in related %}
        <p><a href={% url 'pergunta' perg.slug  %}>{{ perg.titulo }}</a></p>
        {% endfor %}
    <hr>
    </div>
{% endblock %}
