{% if qst_list %}
<div class="well">
<p class="sm-title close-to-next-line">Perguntas Sugeridas:</p>
<p class="sm-title ligth">Alguma destas perguntas é igual a sua?</p>

{% for qst in qst_list %}
<div class="row">
    <div class="col-xs-1">
        <p class="list-icon"><i class="fa fa-check"></i></p>
    </div>
    <div class="col-xs-10">
    <p class="text">
    <a href="{% url 'pergunta' qst.slug %}">
    
    {{ qst.titulo|safe }}</a> 
    <a href="#" class="btn btn-link">- Perguntar Novamente</a>
    </p>
    </div>
</div>
{% endfor %}

<hr>
</div>
{% endif %}