{% if qst_list %}

        <div class="well">
            
                <p class="lead blog-description">Alguma destas é igual a sua?</p>
                
                {% for qst in qst_list %}
                    <div class="row">
                        <div class="col-xs-12">
                            <ul>
                            <li class="text">
                                <a href="{% url 'pergunta' qst.slug %}">
                                    {{ qst.titulo|safe }}
                                </a>
                                <i><a href="{% url 'perguntar_novamente' qst.slug %}" class="btn btn-link">Perguntar Novamente</a></i>
                            </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
        
            <button id='newquestion' class="btn btn-default" type="button">Não, minha pergunta é nova!</button>
            
            
        
        </div>
        

{% endif %}