{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block header %}
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
        <h1 class="blog-title"><i class="fa fa-user fa-4"></i> Entrar</h1>
        <div class="well">   
          
          <p class="lead blog-description">{% with provider_name=account.get_provider.name site_name=site.name %}Para criar sua conta usando o {{provider_name}},<br>
          complete suas informações:{% endwith %}</p>
          
          <form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
              <div id="errorMsg">{{ form.non_field_errors }}</div>
            {% endif %}
            
            <div class="form-group">
              <label for="id_first_name" class="col-sm-3 control-label">Nome:</label>
                <div class="col-sm-9">
                  <input class="form-control" id="id_first_name" maxlength="30" name="first_name" type="text" value="Diego">
                </div>
              </div>
            <div class="form-group">
              <label for="id_last_name" class="col-sm-3 control-label">Sobrenome:</label>
              <div class="col-sm-9">
                <input class="form-control" id="id_last_name" maxlength="30" name="last_name" type="text" value="Wawrzeniak">
              </div>
            </div>
            <div class="form-group">
              <label for="id_email" class="col-sm-3 control-label">E-mail:</label>
              <div class="col-sm-9">
                <input class="form-control" id="id_email" name="email" placeholder="Endereço de e-mail" type="email">
              </div>
            </div>
            
            {% comment %}
            {{ form.as_p }}
            {% endcomment %}
            
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-warning btn-lg">Criar Conta</button>
              </div>
            </div>
          </form>
          
      </div><!-- well -->
    </div><!-- col -->
  </div><!-- row -->

{% endblock %}



