/*
 * Globals
 */

body,html{
 height:100%;
}

body {
  padding-top: 90px;
  color: #95a5a6;
}

.container{
 min-height:100%;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

a {
    color: #e67e22;
}


.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}



/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}



/*
 * Navbar
 */

.navbar-default {
  background-color: #e67e22;
}

.navbar-brand {
  color: #ecf0f1 !important;
}

.logo {
  font-size: 90px;
}
 
 
.navbar-default .navbar-nav>li>a {
  color: #ecf0f1;
}

.active {
  color: #d35400 !important;
}

.active-nav {
  color: #f1c40f !important;
}

.navbar-default .navbar-text {
  color: #ecf0f1;
}

.badge {
  background-color: #f1c40f;
  color: #e74c3c;
}

.badge-c {
    background-color: #bdc3c7;
}

.dropdown-menu>li>a {
  color: #e67e22;
}

.nav-img {
  width: 25px;
  height: 25px;
  border-radius: 100px;
}


.user-pic-mini {
  width: 25px;
  height: 25px;
  border-radius: 100px;
}

.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.user-pic-tumb {
  width: 55px;
  height: 55px;
  border-radius: 100px;
}


.profile-pic-m {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

/* Buttons */

.btn {
  background-color: #DADADA;
}

.btn-margin {
    margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.btn-warning {
  color: #fff;
  background-color: #f1c40f;
  border-color: #f39c12;
  font-weight: 600;
}


.btn-default {
  color: #7f8c8d;
  background-color: #fff;
  border-color: #B6B6B6;
  font-weight: 600;
}

.btn-link {
  font-weight: 400;
  color: #7f8c8d;
  border-radius: 0;
  background-color: transparent;
}


.btn>a {
  color: #fff;
}


/* Separator */
hr {
  border-top: 1px solid #DCDCCC;
}




/* Jumbotrone  4 */

.jumbotron {
  background-size: cover;
  background-color: #ecf0f1;
  margin-top: 0px;
  margin-bottom: 20px;
}

.jumbotron-a {
  background-image: url("img/home-back-1.jpg");
}

.jumbotron-b {
  background-image: url("img/home-back-2.jpg");
}

.jumbotron-c {
  background-image: url("img/home-back-3.jpg");
}

.jumbotron-d {
  background-image: url("img/home-back-4.jpg");
}

.jumbotron-e {
  background-image: url("img/home-back-5.jpg");
}

.jumbotron-f {
  background-image: url("img/home-back-6.jpg");
}

.jumbotron h1{
  color: #ecf0f1;
  font-size: 30px;
}

.jumbotron .btn-lg {
  height: 46px;
}


/* Label for Tag */

.label-tag {
  background-color: #ecf0f1;
  color: #7f8c8d;
  font-size: 13px;
}

/* Paragraphs and texts */

.sm-title{
  font-size: 15px;
  color: #7f8c8d;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
}

.ligth {
  font-weight: 200;
}

.close-to-next-line {
  padding-bottom: 0px;
  margin-bottom: -10px;
}

.info-text {
  font-size: 14px;
  font-weight: 400;
  color: #95a5a6;
}

.black {
  color: #2c3e50;
}


.autor-info {
  color: #7f8c8d;
}

.text {
  color: #717171;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
  font-weight: 400;
}

ul {
  padding-left: 20px;
}

.bullet {
  padding-left: 5px;
  padding-right: 5px;
}

.list-icon {
  padding-left: 20px;
  font-size: 20px;
  color: #999;
  text-align: right;
}


a>p.text:hover {
  text-decoration: none !important;
}

.no-bullet {
  list-style-type: none;
}


/* Notifications */
.unread {
  background-color: #F7EBE0;
}

.well {
  position: relative;
  margin-bottom: 10px;
}

.notif-icon {
  padding-top: 12px;
  color: #bdc3c7;
}


.over-link { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('img/empty.gif');
}

.top-link {
  position:relative;
  z-index: 2;
}

/* Forms */

.select2-container.select2-container-multi {
  width: 100% !important;
}


.clear-form {
  text-align: right;
  color: #989898;
}


.control-label {
  padding-top: 7px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: left;
}

.controls {
  padding-top: 7px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: left;
}


.clearablefileinput {
  font-size: 14px;
}

/* Footer */
.footer {
  position: relative;
  margin-top: 150px; /* negative value of footer height */
  height: 15px;
  clear:both;
} 


/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
    margin-bottom: 0;
    font-size: 34px;
    font-weight: normal;
    color: #95a5a6;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #EFEFEF;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-tags {
  line-height: 1.4;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 0px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: -0.4px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  color: #95a5a6;
  text-align: center;
  background-color: #ecf0f1;
  border-top: 1px solid #7f8c8d;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.footer-bar {
  background-color: #E4E4E4;
  color: #e67e22;
  padding-top: 10px;
  padding-bottom: 10px;
}


/*
 * Vote Buttons
 */
 
.upvote-off {
  background-position: 0 -170px;
}
 
.upvote-on {
  background-position:-40px -170px;
}
 
.downvote-off {
  background-position: 0 -220px;
}

.downvote-on {
  background-position:-40px -220px;
}

.votes_count {
    margin: 8px 0;
    display: block;
    color: #777;
    font-size: 20px;
    padding: 0;
    border: 0;
    text-align: center;

  
}
 
.upvote-off, .downvote-off, .upvote-on, .downvote-on {
    background-repeat: no-repeat;
    background-image: url("img/sprites.svg?v=1bc768be1b3c"),none;
    background-size: initial;
    height: 30px;
    width: 40px;
    text-indent: -9999em;
    font-size: 1px;
    color: #07c;
    overflow: hidden;
    display: block;
    cursor: pointer;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 2px;
    text-align: center;
 }
 

.socialaccount_providers li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.socialaccount_providers a {
    width: 250px;
    height: 50px;
    border-radius: 100px;
    text-align: left;
    padding: 12px 65px;
    color: #ffffff;
    vertical-align: middle;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 18px; 
}

a.facebook {
  background-color: #507cc0;
  background-image: url("img/face-longin.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position-x: 25px;
  background-position-y: center;
}

a.google {
  background-color: #DC4E41;
  background-image: url("img/google-longin.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position-x: 25px;
  background-position-y: center;
}

a.twitter {
  background-color: #00aced;
  background-image: url("img/twitter-longin.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position-x: 25px;
  background-position-y: center;
}


a.email {
  padding: 12px 29px;
  background-color: #95A5A6;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position-x: 25px;
  background-position-y: center;
}



/* Social conector */

.social-connect {
  font-size: 15px;
}

.social-connect.activate {
  color: #E67E22;
}



/* Alerts */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 15px;
}


.progress-lm {
  margin-bottom: 10px;
}