{% extends "account/base.html" %}
{% load app_filters %}

{% block header %}

<h1 class="blog-title">Configurações</h1>
<hr>

<div class="blog-post">
    
    <br>
    <p class="lead blog-description">Outros Membros:</p>
    <div class="row">
        <div class="col-sm-6">
            <p>Alguém começar seguir você:</p>
              
        </div>
        <div class="col-sm-2">
           <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Email
              </label>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Aviso
              </label>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-sm-6">
            <p>Pessoas que você sigue responderem perguntas:</p>
              
        </div>
        <div class="col-sm-2">
           <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Email
              </label>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Aviso
              </label>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
    
    
    
    <br>
    <p class="lead blog-description">Perguntas e Respostas:</p>
    <div class="row">
        <div class="col-sm-6">
            <p>Alguém responder perguntas que você segue:</p>
              
        </div>
        <div class="col-sm-2">
           <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Email
              </label>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Aviso
              </label>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-sm-6">
            <p>Alguém perguntar em temas que você segue:</p>
              
        </div>
        <div class="col-sm-2">
           <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Email
              </label>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Aviso
              </label>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-sm-6">
            <p>Alguém pedir para você responder uma pergunta:</p>
              
        </div>
        <div class="col-sm-2">
           <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Email
              </label>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Aviso
              </label>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-sm-6">
            <p>Novo comentário em suas respostas:</p>
              
        </div>
       <div class="col-sm-2">
           <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Email
              </label>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Aviso
              </label>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
    
    <div class="row">
        <div class="col-sm-6">
            <p>Alguém votar suas perguntas e respostas:</p>
              
        </div>
        <div class="col-sm-2">
           <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Email
              </label>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Aviso
              </label>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
    
    <br>
    <p class="lead blog-description">Email de Atividades:</p>
    <div class="row">
        <div class="col-sm-6">
            <p>Resumo com eventos mais relevantes:</p>
              
        </div>
        <div class="col-sm-2">
           <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Diário
              </label>
            </div>
        </div><!-- /.col -->
        <div class="col-sm-2">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Semanal
              </label>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
    
    
      
</div><!-- /.blog-post -->





{% endblock %}


{% block sidebar %}


{% endblock %}
