{% extends "account/base.html" %}
{% load app_filters %}

{% block title %}Configurações de Conta{% endblock %}


{% block header %}

<h1 class="blog-title">Configurações</h1>
<hr>
    

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#notificacoes" aria-controls="notificacoes" role="tab" data-toggle="tab">Notificações</a></li>
  </ul>

  <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="notificacoes">

            <div class="blog-post">
                <div class="well">
                    <br>
                    <p class="lead blog-description">Outros Membros:</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="info-text">Alguém começar seguir você:</p>
                              
                        </div>
                        <div class="col-sm-2">
                           <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Email
                              </label>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Aviso
                              </label>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="info-text">Pessoas que você sigue responderem perguntas:</p>
                              
                        </div>
                        <div class="col-sm-2">
                           <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Email
                              </label>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Aviso
                              </label>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    
                    
                    
                    <br>
                    <p class="lead blog-description">Perguntas e Respostas:</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="info-text">Alguém responder perguntas que você segue:</p>
                              
                        </div>
                        <div class="col-sm-2">
                           <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Email
                              </label>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Aviso
                              </label>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="info-text">Alguém perguntar em temas que você segue:</p>
                              
                        </div>
                        <div class="col-sm-2">
                           <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Email
                              </label>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Aviso
                              </label>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="info-text">Alguém pedir para você responder uma pergunta:</p>
                              
                        </div>
                        <div class="col-sm-2">
                           <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Email
                              </label>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Aviso
                              </label>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="info-text">Novo comentário em suas respostas:</p>
                              
                        </div>
                       <div class="col-sm-2">
                           <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Email
                              </label>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Aviso
                              </label>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="info-text">Alguém votar suas perguntas e respostas:</p>
                              
                        </div>
                        <div class="col-sm-2">
                           <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Email
                              </label>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Aviso
                              </label>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                    
                    <br>
                    <p class="lead blog-description">Email de Atividades:</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="info-text">Resumo com eventos mais relevantes:</p>
                              
                        </div>
                        <div class="col-sm-2">
                           <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Diário
                              </label>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-sm-2">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" value="">
                                Semanal
                              </label>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                
                
                </div><!-- well -->
                
        </div><!-- tab -->
        
      </div><!-- tab-content -->
    
    </div>    

</div><!-- /.blog-post -->





{% endblock %}


{% block sidebar %}


{% endblock %}
