{% extends "account/base.html" %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% load django_select2_tags %}
{% load app_filters %}
{% load i18n %}

{% block head %}{% import_django_select2_js_css %}{% endblock%}

{% block title %}Editar Perfil{% endblock %}


{% block jumbotrone %}
<!-- Edit Bio Modal -->
<div class="modal fade" id="bioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="savebio close" data-dismiss="modal" aria-label="Close"  data-userid="{{ request.user.id}}" data-tagid="{{ bio_tag.pk }}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar sua biografia sobre <b><span id="bioname"></span></b>:</h4>
      </div>
      <div class="modal-body">
        <form>
                  <div class="row">
                        <div class="col-lg-12">
                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="text" class="form-control" id="biodesc" placeholder="Conte sua experiência sobre este assunto...">
                                      <span class="input-group-btn">
                                          <button id="savebio" class="savebio btn btn-warning" type="button" data-userid="{{ request.user.id}}" data-tagid="" data-dismiss="modal">Salvar</button>
                                      </span>
                                  </div>
                              </div><!-- form-group -->
                        </div><!-- col-lg-10 -->
                  </div><!-- row -->
            </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block content %}
      
      <script type="text/javascript">
            mixpanel.identify("{{request.user.pk}}");
            mixpanel.people.set({
                  "$first_name": "{{request.user.first_name}}",
                  "$last_name": "{{request.user.last_name}}",
                  "$email": "{{ request.user.email }}",    // only special properties need the $
                  "$created": "{{ request.user.userprofile.timestamp|date:'Y-m-d H:i' }}",
                  "$last_login": new Date(),         // properties can be dates..
                  "Role": "{{ request.user.userprofile.user_role }}",
                  "Num of Questions": {{ request.user.userprofile.num_pergs}},
                  "Num of Answers": {{ request.user.userprofile.num_respostas}},
                  "Reputation": {{request.user.userprofile.reputation}},
                  "Num of Followers": {{ request.user.userprofile.followers_num }},
                  "Num of Followings": {{ request.user.userprofile.follow_users.all|length }},
                  "Knows About": [{% for know in request.user.userprofile.knows_about.all %}"{{ know.nome }}", {% endfor %}],
                  "Interests": [{% for inter in request.user.userprofile.interests.all %}'{{ inter.nome }}', {% endfor %}],
                  "Follow Topics": [{% for tpc in request.user.userprofile.follow_topics.all %}'{{ tpc.nome }}', {% endfor %}],
                
            });
      </script>


<h1 class="blog-title">Editar Perfil</h1>

{% if next_step %}
<div class="alert alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p>Status de perfil: <b>{{ profile_status }}% completo</b></p>
      <div class="progress progress-lm">
        <div class="progress-bar  progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ profile_status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ profile_status }}%;">
        </div>
      </div>
      <p><i class="fa fa-arrow-right"></i> <b>próximo passo:</b> {{ next_step|safe }}</p>
</div>
{% endif %}



<div class="blog-post">
      <div class="row">
            <div class="col-sm-4">
                  <hr>
                  <p class="lead blog-description">Sua Foto:</p>
                  <img class="img-responsive profile-pic-m" src="{{profile.profile_image_url}}">
            
  
            

                  <form class="editprofile form-horizontal" id="editprofilepicture" method="post" action="{% url 'edit_profile_picture' %}" enctype="multipart/form-data">
                    
                    

                        
                    {% crispy picture_form %}
                    
                    
                    <button class="btn btn-default btn-sm" type="submit" value="update_picture"><i class="fa fa-check"></i> Alterar Foto</button>
                    
                  </form>
                  
            </div>
            <div class="col-sm-8">
                  <hr>
                  <p class="lead blog-description">Suas Informações:</p>
                  
                  {% if not request.user.has_usable_password %}
                  <div class="alert alert-danger" role="alert">
                    <p class="info-text">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Sua conta ainda não tem uma senha...<br> <a href="{% url 'account_set_password' %}">Crie sua senha aqui!</a>
                    </p>
                  </div>
                  {% endif %}
            
                  <form class="editprofile form-horizontal" id="editprofile" method="post" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
            
            
                    
                    {% crispy user_form %}
                    
                    {% crispy profile_form %}
                    
                    
                        <div class="form-group">
                              <div class="col-sm-offset-3 col-sm-9">  
                                    <button class="btn btn-default btn-sm" type="submit" value="update_info"><i class="fa fa-check"></i> Salvar Informações</button>
                              </div>
                        </div>
                    
                  </form>
                  
                  <div class="row">
                        <hr>
                        <p class="lead blog-description">Redes Sociais:</p>
                        <div class="col-sm-4 social-connect">
                              <p class="text-center">
                                    {% if not facebook %}<a href="{% provider_login_url "facebook" process="connect" %}">{% endif %}
                                          <i class="fa fa-facebook-square fa-3x"></i><br>{% if facebook %}<i class="fa fa-check"></i> conectado{% else %}conectar conta{% endif %}
                                    {% if not facebook %}</a>{% endif %}
                              </p>
                        </div>
                        <div class="col-sm-4 social-connect">
                              <p class="text-center">
                                    {% if not google %}<a href="{% provider_login_url "google" process="connect" %}">{% endif %}
                                          <i class="fa fa-google-plus-square fa-3x"></i><br>{% if google %}<i class="fa fa-check"></i> conectado{% else %}conectar conta{% endif %}
                                    {% if not google %}</a>{% endif %}
                              </p>
                        </div>
                        <div class="col-sm-4 social-connect">
                              <p class="text-center">
                                    {% if not twitter %}<a href="{% provider_login_url "twitter" process="connect" %}">{% endif %}
                                          <i class="fa fa-twitter-square fa-3x"></i></i><br>{% if twitter %}<i class="fa fa-check"></i> conectado{% else %}conectar conta{% endif %}
                                    {% if not twitter %}</a>{% endif %}
                              </p>
                        </div>
                  <p class="text-right"><a class="info-text" href="{% url 'socialaccount_connections' %}">editar contas ></a></p>
                  </div>
                  

                        
                        
                  <div class="row">
                        <hr>
                        <p class="lead blog-description">Suas Biografias:</p>
                        <div class="table-responsive well">
                        
                        {% if request.user.userbio_set.all|length %}              
                        <table class="table table-condensed">
                        <thead>
                              <tr>
                                    <th class="sm-title">Tema</th>
                                    <th class="sm-title">Experiências no Tema</th>
                                    <th></th>
                              </tr>
                        </thead>
                        {% for bio in request.user.userbio_set.all %}
                        <tr>
                              <td>
                                 <p class="text"><b>{{ bio.tag|title }}:</b></p>
                              </td>
                              <td>
                                    <p class="info-text" id="bio_{{ bio.tag.pk }}">{{ bio.bio }}</p>
                              </td>
                              <td>
                                    <a href="#" class="edit-bio info-text" data-tagid="{{ bio.tag.pk }}"  data-tagname="{{ bio.tag.nome|title }}" title="Editar Biografia" data-toggle="modal" data-target="#bioModal"><i class="fa fa-pencil"></i></a>
                              </td>
                              
                        </tr>
                        {% endfor %}
                        </table>
                        {% else %}
                              <p class="text">
                                    Você ainda não tem biografias..
                                    <br>
                                    <a href="{% url 'responder-perguntas' %}">Responda perguntas para adicioná-las!</a>
                              </p>
                        {% endif %}
                  </div>
                  
                  </div>
  
                  
            
            <hr>
            </div><!-- /.col -->
      </div><!-- /.row -->
</div><!-- /.blog-post -->


{% endblock %}


{% block sidebar %}

<div class="sidebar-module sidebar-module-inset">
    <hr>
    <h4 class="sm-title">TEMAS DE INTERESSE:</h4>
    {% if profile.interests.all|length %}
        <ul>
        {% for tg in profile.interests.all %}
            <li class="sidebar-tags">
                <a href="{% url 'categoria' tg.slug %}"><span class="label label-tag">{{ tg.nome|title }}</span></a>
                
                <a class="follow_tag info-text {% if tg|followed:request.user %}unfollow active{% else %}follow{% endif %}" id="tag_{{ tg.pk }}" data-tagid="{{ tg.pk }}">
                    | {% if tg|followed:request.user %}Seguindo{% else %}Seguir{% endif %}</a>
            </li>
        {% endfor %}  
        </ul>
    {% else %}
        <p class="info-text">Nenhum tema adicionado..</p>
    {% endif %}
    <a href="{% url 'edit_user_interests_topics' %}" class="btn btn-link"><i class="fa fa-pencil"></i> Alterar Temas</a>
    <hr>
</div>


<div class="sidebar-module sidebar-module-inset">
    <hr>
    <h4 class="sm-title">CONHECE SOBRE:</h4>
    {% if profile.knows_about.all|length %}
        <ul>
        {% for tg in profile.knows_about.all %}
            <li class="sidebar-tags">
                <a href="{% url 'categoria' tg.slug %}"><span class="label label-tag">{{ tg.nome|title }}</span></a>
                
                <a class="follow_tag info-text {% if tg|followed:request.user %}unfollow active{% else %}follow{% endif %}" id="tag_{{ tg.pk }}" data-tagid="{{ tg.pk }}">
                    | {% if tg|followed:request.user %}Seguindo{% else %}Seguir{% endif %}</a>
            </li>
        {% endfor %}  
        </ul>
    {% else %}
        <p class="info-text">Nenhum tema adicionado..</p>
    {% endif %}
    <a href="{% url 'edit_user_known_topics' %}" class="btn btn-link"><i class="fa fa-pencil"></i> Alterar Temas</a>
    <hr>
</div>



<div class="sidebar-module sidebar-module-inset">
    <hr>
    <h4 class="sm-title">SEGUINDO TEMAS:</h4>
    {% if profile.follow_topics.all|length %}
        <ul>
        {% for tg in profile.follow_topics.all %}
            <li class="sidebar-tags">
                <a href="{% url 'categoria' tg.slug %}"><span class="label label-tag">{{ tg.nome|title }}</span></a>
                
                <a class="follow_tag info-text {% if tg|followed:request.user %}unfollow active{% else %}follow{% endif %}" id="tag_{{ tg.pk }}" data-tagid="{{ tg.pk }}">
                    | {% if tg|followed:request.user %}Seguindo{% else %}Seguir{% endif %}</a>
            </li>
        {% endfor %}  
        </ul>
    {% else %}
        <p class="info-text">Nenhum tema adicionado..</p>
    {% endif %}        
    <hr>
</div>
    

{% endblock %}
