{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  
<div class="blog-header">
<h1 class="blog-title">Membros</h1>
</div>

          <div class="blog-post">

                  
                {% for profile in profiles %}
                <div class='row'>
                    <div class='col-md-3'>
                        <img class='profile-pic' src='{{profile.profile_image_url}}'/>
                    </div>
                    <div class='col-md-6'>
                        <p><a href='{% url "public_profile" profile.user.id %}'><b>{{ profile.user.first_name }} {{  profile.user.last_name  }}</b></a></p>
                        <p>{% if profile.about %}{{ profile.about }}{% endif %}</p>
                        <p>Membro desde: {{ profile.timestamp }}</p>
                        <p>{% if profile.facebook %}<a href='{{ profile.facebook }}' target='blank'>Facebook</a>{% endif %} {% if profile.facebook %}| <a href='{{ profile.twitter }}' target='blank'>Twitter</a>{% endif %} {% if profile.linkedin %}| <a href='{{ profile.linkedin }}' target='blank'>Linked In</a>{% endif %}</p>
                        <p>Seguidores: <b>100</b> | Respostas: <b>{{ profile.num_respostas }}</b> | Perguntas: <b>{{ profile.num_pergs }}</b></p>
                        <br>
                    </div>
                </div><!-- /row -->
                <hr>
                {% endfor %}
                
                <div class="pagination">
                    <span class="step-links">
                        {% if profiles.has_previous %}
                            <a href="?page={{ profiles.previous_page_number }}">anterior</a>
                        {% endif %}
                
                        <span class="current">
                            Página {{ profiles.number }} de {{ profiles.paginator.num_pages }}.
                        </span>
                
                        {% if profiles.has_next %}
                            <a href="?page={{ profiles.next_page_number }}">próxima</a>
                        {% endif %}
                    </span>
                </div><!-- /.pagination -->

          </div><!-- /.blog-post -->
      </div><!-- /.blog-main -->

{% endblock %}
