{% load app_filters %}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <br>
        {% for ativ in atividades|slice:":50" %}            
            {% if ativ.classe = 'resposta' %}
                <p class="info-text">
                    <i>{{ ativ.timestamp|time_ago }}</i><span class="bullet"> • </span>
                    <b>respondeu:</b> {{ativ.pergunta.titulo|striptags|truncatechars:100}}
                </p>
                <div class="text">
                    <p><a class="text" href="{% url 'pergunta' ativ.pergunta.slug %}"><b>{{ ativ.resposta|striptags|truncatechars:200 }}</b></a><a href="{% url 'pergunta' ativ.pergunta.slug %}"> mais ></a></p>
                </div>
                <hr>
            {% endif %}
        {% endfor %}
    </div>
</div>