{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load django_select2_tags %}

{% load i18n %}

{% block head %}{% import_django_select2_js_css %}{% endblock%}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  
<div class="blog-header">
<h1 class="blog-title">Editar Perfil</h1>
</div>

<div class="row">

      <div class="col-sm-8 blog-main">

          <div class="blog-post">
          <div class="row">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-11">
                  <div class="panel panel-default">
                  <div class="panel-body">

                  <form class="editprofile" id="editprofile" method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
                    {% crispy user_form %}
                    {% crispy profile_form %}
                    
                    
                    <div style='text-align: center'>
                    <button class="btn btn-info btn-lg" type="submit">Salvar Alterações &raquo;</button>
                    </div>
                  </form>
                  <br>
                  </div><!-- /.panel-body -->
                  </div><!-- /.panel-default -->
                </div><!-- /.col-xs -->
          </div><!-- /.row -->
          </div><!-- /.blog-post -->
      </div><!-- /.blog-main -->

{% endblock %}
