{% extends 'base.html' %}
{% load app_filters %}

{% block home_active %}active{% endblock %}


{% block jumbotrone %}
{% if not user.is_authenticated %}
    <div class="jumbotron">
        <div class="container">
            <h1><i>encontre a melhor resposta para qualquer pergunta:</i></h1>
            <form action='{% url "perguntar" %}'>
                <div class="row">
                <div class="col-lg-10">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" name='q' id="perguntar" placeholder="O que você quer saber hoje?">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-warning btn-lg" type="button">PERGUNTAR</button>
                        </span>
                    </div>
                </div><!-- form-group -->
                </div><!-- col-lg-10 -->
                </div><!-- row -->
            </form>
            <br><br>
    
        </div>
    </div>
{% endif %}
{% endblock %}



{% block content %}

<p class="lead blog-description">Perguntas que você pode se interessar:</p>
<hr>

{% for pergunta in perguntas %}
    
    <div class="blog-post">
        
        <div class="row">
            
            <div class="col-xs-2"><!-- Vote Buttons -->
              <a class="perg_upvote {% if pergunta|upvoted:request.user %}active upvote-on{% else %}upvote-off{% endif %}"
                id="perg_{{ pergunta.pk }}" title="Gostei: esta pergunta é relevante, clara e bem escrita."
                data-pergid="{{ pergunta.id}}"  >gostei
              </a>
              <p class="votes_count" id="perg_{{ pergunta.pk }}">{{ pergunta.votes }}</p>
              <a class="perg_downvote {% if pergunta|downvoted:request.user %}active downvote-on{% else %}downvote-off{% endif %}"
                id="perg_{{ pergunta.pk }}" title="Não Gostei: pergunta não é relevante, confusa e mau escrita."
                data-pergid="{{ pergunta.id}}" >não gostei
              </a>
            </div><!-- col-xs-2 -->
        
        
            <div class="col-xs-10"> 
                <p class="info-text">{% for tag in pergunta.tags.all %}<a href="{% url 'categoria' tag.slug %}"><span class="label label-tag">{{ tag|title }}</span></a> {% endfor %}<span class="bullet"> • </span>{{ pergunta.data|post_date }}</p>
                <h2 class="blog-post-title"><a href="{% url 'pergunta' pergunta.slug %}">{{ pergunta.titulo }}</a> <small>{{ pergunta.score }}</small></h2>        
                {% if pergunta.descricao %}<p class='text'>{{ pergunta.descricao|striptags|truncatewords:30 }} <a href="{% url 'pergunta' pergunta.slug %}">mais ...</a></p>{% endif %}
                <p class="info-text">
                    
                    {% if pergunta.num_respostas > 1 %}
                        <a href="{% url 'pergunta' pergunta.slug %}" class="btn btn-link">{{ pergunta.num_respostas }} respostas</a>
                    {% elif pergunta.num_respostas = 1 %}
                        <a href="{% url 'pergunta' pergunta.slug %}" class="btn btn-link">{{ pergunta.num_respostas }} resposta</a>
                    {% elif pergunta.num_respostas = 0 %}
                        <a href="{% url 'pergunta' pergunta.slug %}" class="btn btn-link">Sem respostas</a>
                    {% endif %}
                    <span class="bullet"> • </span>
                    <a class="follow_quest btn btn-link {% if pergunta|followed:request.user %}active{% endif %}" id="quest_{{ pergunta.id }}" data-questid="{{ pergunta.id}}"  >
                        {% if pergunta|followed:request.user %}Seguindo{% else %}Seguir{% endif %} | {{ pergunta.follow_questions.all|length }}
                    </a>
                    <span class="bullet"> • </span>
                    <a href="{% url 'perguntar_novamente' pergunta.id %}" class="btn btn-link">Perguntar Novamente</a>
                </p>
                <p class="info-text">
                        <a href="{% url 'responder' pergunta.id %}" class="btn btn-default">Responder</a>
                </p>
            </div><!-- col-10 -->
        </div><!-- row -->
            
    </div><!-- /.blog-post -->
    <hr>
{% endfor %}



<div class="pagination">
    <span class="step-links">
        {% if perguntas.has_previous %}
            <a href="?page={{ perguntas.previous_page_number }}"  class="btn btn-default"><i class="fa fa-arrow-left"></i> anterior</a>
        {% endif %}

        <span class="info-text">
            página {{ perguntas.number }} de {{ perguntas.paginator.num_pages }} 
        </span>

        {% if perguntas.has_next %}
            <a href="?page={{ perguntas.next_page_number }}" class="btn btn-default">próxima <i class="fa fa-arrow-right"></i></a>
        {% endif %}
    </span>
</div>

{% endblock %}


{% block sidebar %}
    <div class="sidebar-module sidebar-module-inset">
        <h4>Atividades Recentes</h4>
        {% for ativ in atividades_recentes %}
            {% if ativ.classe = 'pergunta' %}
                <p><a href='{% url 'profile' ativ.autor.userprofile.slug %}'>{{ ativ.autor.userprofile.name }}</a> perguntou:</p>
                <p><a href="{% url 'pergunta' ativ.slug %}">{{ ativ.titulo }}</a></p>
                <p><i> - {{ ativ.timestamp }}</i></p>
                <hr>
            {% elif ativ.classe = 'resposta' %}
                <p><a href="{% url 'profile' ativ.autor.userprofile.slug %}">{{ ativ.autor.userprofile.name }}</a> respondeu:</p>
                <p><a href="{% url 'pergunta' ativ.pergunta.slug %}">{{ ativ.resposta|safe|truncatewords_html:30 }}</a></p>
                <p><i> - {{ ativ.timestamp }}</i></p>
                <hr>
            {% endif %}
        {% endfor %}
    </div>
    <div class="sidebar-module">
        <h4>Tópicos am Alta</h4>
        {% for tg in tags_todas %}
            <p class="sidebar-tags"><a href="{% url 'categoria' tg.slug %}"><span class="label label-tag">{{ tg.nome }}</span></a></p>
        {% endfor %}
    </div>
    <div class="sidebar-module">
      <h4>Membros Mais Ativos</h4>
      <ol class="list-unstyled">
        <li><a href="#">GitHub</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
      </ol>
    </div>
{% endblock %}